// External imports

// @import 'o-grid/main';

// Internal imports
@import 'src/scss/variables';
@import 'src/scss/mixins';

@if not $o-responsive-is-silent {
	@include oResponsiveHello(world of Origami);
}
