# o-responsive [![Build Status](https://travis-ci.org/Pearson-Higher-Ed/o-responsive.svg?branch=master)](https://travis-ci.org/Pearson-Higher-Ed/o-responsive)

Provide a brief description of the component.

## License

This software is published by Pearson Education under the [MIT license](LICENSE).

