@import '../../main';

html {
    font-family: HelveticaNeue, sans-serif;
}

.demo-table {
	td {
		padding: 5px;
		border: 1px solid #cccccc;
	}
}

.demo-visibility-check {
	display: block;
	width: 100%;
	color: green;
	line-height: 1em;
	text-align: center;

	&:before {
		content: '✓';
	}
}
