<p>Using the visibility CSS classes, elements can be displayed or hidden based on the viewport width.</p>

<h2>Visible</h2>
<table class="demo-visibility">
	<thead>
		<tr>
			<th>Class</th>
			<th>Visible</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>.o-responsive__xs--visible</td>
			<td><span class="o-responsive__xs--visible demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__sm--visible</td>
			<td><span class="o-responsive__sm--visible demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__md--visible</td>
			<td><span class="o-responsive__md--visible demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__lg--visible</td>
			<td><span class="o-responsive__lg--visible demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__xl--visible</td>
			<td><span class="o-responsive__xl--visible demo-visibility-check"></span></td>
		</tr>
	</tbody>
</table>

<h2>Hidden</h2>
<table class="demo-visibility">
	<thead>
		<tr>
			<th>Viewport Size</th>
			<th>Visible</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>.o-responsive__xs--hidden</td>
			<td><span class="o-responsive__xs--hidden demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__sm--hidden</td>
			<td><span class="o-responsive__sm--hidden demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__md--hidden</td>
			<td><span class="o-responsive__md--hidden demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__lg--hidden</td>
			<td><span class="o-responsive__lg--hidden demo-visibility-check"></span></td>
		</tr>
		<tr>
			<td>.o-responsive__xl--hidden</td>
			<td><span class="o-responsive__xl--hidden demo-visibility-check"></span></td>
		</tr>
	</tbody>
</table>
