////
/// @group o-responsive
/// @link https://origami.pearsoned.com/registry/components/o-responsive
////

/// Generates the breakpoint visibility classes
@mixin o-responsive-visibility() {
	// Visible
	.o-responsive__xs--visible,
	.o-responsive__sm--visible,
	.o-responsive__md--visible,
	.o-responsive__lg--visible,
	.o-responsive__xl--visible {
		// scss-lint:disable ImportantRule
		display: none !important;
	}

	@include o-responsive-breakpoint(xs to xs) {
		@include o-responsive-visible('.o-responsive__xs--visible');
	}

	@include o-responsive-breakpoint(sm to sm) {
		@include o-responsive-visible('.o-responsive__sm--visible');
	}

	@include o-responsive-breakpoint(md to md) {
		@include o-responsive-visible('.o-responsive__md--visible');
	}

	@include o-responsive-breakpoint(lg to lg) {
		@include o-responsive-visible('.o-responsive__lg--visible');
	}

	@include o-responsive-breakpoint(xl to xl) {
		@include o-responsive-visible('.o-responsive__xl--visible');
	}

	// Hidden
	@include o-responsive-breakpoint(xs to xs) {
		@include o-responsive-hidden('.o-responsive__xs--hidden');
	}

	@include o-responsive-breakpoint(sm to sm) {
		@include o-responsive-hidden('.o-responsive__sm--hidden');
	}

	@include o-responsive-breakpoint(md to md) {
		@include o-responsive-hidden('.o-responsive__md--hidden');
	}

	@include o-responsive-breakpoint(lg to lg) {
		@include o-responsive-hidden('.o-responsive__lg--hidden');
	}

	@include o-responsive-breakpoint(xl to xl) {
		@include o-responsive-hidden('.o-responsive__xl--hidden');
	}
}

/// Generates a visible class
@mixin o-responsive-visible($parent) {
	// scss-lint:disable ImportantRule
	#{$parent} {
		display: block !important;
	}
}

/// Generates a hidden class
@mixin o-responsive-hidden($parent) {
	// scss-lint:disable ImportantRule
	#{$parent} {
		display: none !important;
	}
}
